 body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .cat-info {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     padding: 20px;
     max-width: 1200px;
     margin: 0 auto;
 }

 .cat-card {
     background-color: white;
     border: 1px solid #ccc;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 300px;
     transition: transform 0.2s;
 }

 .cat-card:hover {
     transform: scale(1.05);
 }

 .cat-image {
     width: 100%;
     height: auto;
 }

 .cat-details {
     padding: 15px;
 }

 .cat-name {
     font-size: 1.5em;
     margin: 10px 0;
 }

 .cat-description {
     font-size: 1em;
     color: #666;
 }

 .cat-temperament {
    font-size: 1em;
        color: #000000;
 }

 .breed-select {
    max-width: 400px;
    margin: auto;
 }