 body {
     font-family: Arial, sans-serif;
     background-color: #f0f0f0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .cat-info {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 20px;
     padding: 20px;
     max-width: 1200px;
     margin: 0 auto;
 }

 .cat-card {
     background-color: white;
     border: 1px solid #ccc;
     border-radius: 10px;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     width: 300px;
     transition: transform 0.2s;
 }

 .cat-card:hover {
     transform: scale(1.05);
 }

 .cat-image {
     width: 100%;
     height: auto;
 }

 .cat-details {
     padding: 15px;
 }

 .cat-name {
     font-size: 1.5em;
     margin: 10px 0;
 }

 .cat-description {
     font-size: 1em;
     color: #666;
 }

 .cat-temperament {
    font-size: 1em;
        color: #000000;
 }

 .breed-select {
    display: none;
    max-width: 400px;
    /* margin: auto; */
    margin-bottom: 20px;
 }

 /* .loader {
    display: none;
 } */

 .error {
    display: none
 }
 .loader {
     width: 48px;
     height: 48px;
     border: 5px solid #FFF;
     border-bottom-color: #FF3D00;
     border-radius: 50%;
     display: inline-block;
     /* display: none; */
     box-sizing: border-box;
     animation: rotation 1s linear infinite;
 }

 @keyframes rotation {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 .is-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }